html,
body {
  position: relative;
  height: 90%;
  width: 100%;
}

body {
  /* background: #eee; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}


/* section navbar */

section.navbar {
    width: 80%;
    margin: 1rem auto
}

section.navbar>.first-row {
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between
}

section.navbar>.first-row a {
    color: #000;
    text-decoration: none;
    font-size: 1.1rem
}

section.navbar>.first-row>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer
}

section.navbar>.first-row>div img {
    padding-right: 10px
}

section.navbar>.first-row>.search>input {
    padding: 10px;
    display: block;
    width: 100%;
    min-width: 240px
}

section.navbar .second-row {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    cursor: pointer;
    border-radius: 4px
}

section.navbar .second-row :hover {
    background-color: #d8d8d8
}

section.navbar .second-row>.link {
    padding: 0.8rem 1.5rem
}

section.navbar .second-row a {
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.1rem
}

/* main header part */

#main-header #container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* height: auto; */
}

#main-header .swiper {
  height: 40rem;
  text-align: center;
}

#main-header .swiper img {
  width: 100%;
}

#main-header .head {
  font-size: 3.125rem;
  margin-top: -25rem;
  margin-left: 38rem;
}

@media only screen and (max-width: 600px) {
  #main-header body {
    background-color: lightblue;
  }
}

#main-header .head2 {
  font-size: 3.125rem;
  margin-top: -2.5rem;
  margin-left: 40rem;
}

#main-header .para {
  font-size: 1.313rem;
  margin-top: -1.563rem;
  margin-left: 35.938rem;
}

#main-header .para1 {
  font-size: 1.313rem;
  margin-top: -1.563rem;
  margin-left: 39rem;
}

#main-header .para2 {
  font-size: 1.313rem;
  margin-top: -1.563rem;
  margin-left: 34.563rem;
}

#main-header .button {
  border: 0px;
  font-size: 0.938rem;
  padding: 0.875rem 2rem;
  background-color: black;
  color: white;
  margin-left: 20.625rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#main-header .button:hover {
  background-color: gray;
  color: white;
}

#main-header .button2 {
  border: 0px;
  font-size: 0.938rem;
  padding: 0.875rem 2rem;
  background-color: black;
  color: white;
  margin-left: 17.5rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#main-header .button2:hover {
  background-color: gray;
  color: white;
}

#main-header .swiper-slide img {
  width: 100%;
}

/* shop by category part */

section.shop-by-category .box {
  font-family: "lato regular", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #000;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border-width: 3px;
  border-style: solid;
  border-color: #222;
  padding: 12px 32px;
  cursor: pointer;
  text-align: center;
  width: 20%;
}

section.shop-by-category .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

section.shop-by-category .head {
  text-align: center;
  font-size: 32px;
  color: #000000;
  /* font-weight: 500; */
}

section.shop-by-category .box:hover {
  background-color: #cbc8c8;
}

/* mid part  */

#mid .swiper {
  width: 100%;
}

#mid .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  margin-left: 7px;
  margin-top: 10px;
}

#mid .swiper-slide img {
  display: block;
  width: 100%;
}

#mid .head {
  font-family: "poly Reguler", "'Times New Roman', Times, serif";
  font-size: 33px;
  text-align: center;
  color: #000;
  font-weight: 500;
  line-height: 32px;
}

#mid .upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#mid .photo img {
  height: 380px;
}

#mid .para1 {
  text-align: center;
  font-size: 25px;
  margin-top: 0px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#mid .para2 {
  text-align: center;
  font-size: 18px;
  margin-top: -8px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#mid .para3 {
  text-align: center;
  font-size: 18px;
  margin-top: -10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* blog part */

#blog-part .swiper {
  width: 100%;
  height: 100%;
}

#blog-part .swiper-slide {
  text-align: center;
  font-size: 17px;
  background: #fff;
  margin-left: 7px;
}

#blog-part .swiper-slide img {
  display: block;
  width: 100%;
  /* width: 500px; */
  height: 250px;
  /* height: 100%; */
  object-fit: cover;
}
#blog-part .head {
  font-family: "poly Reguler", "'Times New Roman', Times, serif";
  font-size: 33px;
  text-align: center;
  color: #000;
  font-weight: 500;
  line-height: 32px;
}

/* section footer */
section.mid {
  width: 95%;
  margin: 0 auto;
}
section.mid {
  padding-top: 1rem;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  margin: 0 auto;
  margin-top: 1rem;
}
section.mid > div {
  margin: 1rem auto;
}
@media screen and (max-width: 1200px) {
  section.mid > div {
    width: 90%;
  }
}
section.mid > .wrapper1 {
  display: flex;
  justify-content: flex-start;
}
section.mid > .wrapper1 > div:first-child {
  margin-right: 1rem;
}
section.mid > .wrapper1 > div {
  width: 50%;
}
section.mid > .wrapper1 > div > p {
  margin-bottom: 1rem;
}
section.mid > .wrapper1 > div > .icons-part {
  display: flex;
  flex-wrap: wrap;
}
section.mid > .wrapper1 > div > .icons-part > .icon {
  background-color: #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}
section.mid > .wrapper1 > div > .icons-part > .icon > i {
  color: #353535;
  font-size: 1.25rem;
}
section.mid > .wrapper1 > div > .icons-part > .icon:hover {
  background-color: #f1f1f1;
}
@media screen and (max-width: 450px) {
  section.mid > .wrapper1 {
    flex-direction: column;
  }
  section.mid > .wrapper1 > div {
    width: 100%;
    margin-bottom: 1rem;
  }
}
section.mid > .wrapper2 {
  display: flex;
}
section.mid > .wrapper2 > div {
  width: 50%;
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  section.mid > .wrapper2 > .left {
    width: 25%;
  }
  section.mid > .wrapper2 .right {
    width: 75%;
  }
}
@media screen and (max-width: 450px) {
  section.mid > .wrapper2 {
    flex-wrap: wrap;
  }
  section.mid > .wrapper2 .left,
  section.mid > .wrapper2 .right {
    flex-basis: 100%;
  }
}
section.mid > .wrapper2 > div:first-child {
  margin-right: 1rem;
}
section.mid > .wrapper2 > .left > h4 {
  user-select: none;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  border-top: 1px solid #999;
  padding-top: 1rem;
}
section.mid > .wrapper2 > .left > p {
  padding: 0.5rem;
  cursor: pointer;
}
section.mid > .wrapper2 > .left > P:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
section.mid > .wrapper2 > .right {
  display: flex;
}
section.mid > .wrapper2 > .right > div {
  width: 30%;
  margin-right: 1rem;
  border-top: 1px solid #999;
  padding-top: 1rem;
}
section.mid > .wrapper2 > .right > div > h4 {
  user-select: none;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}
section.mid > .wrapper2 > .right > div > p {
  padding: 0.5rem;
  cursor: pointer;
}
section.mid > .wrapper2 > .right > div > P:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
section.mid > .wrapper2 > .right > div:last-child {
  margin-right: none;
}
@media screen and (max-width: 768px) {
  section.mid > .wrapper2 > .right {
    flex-direction: column;
  }
  section.mid > .wrapper2 > .right > div {
    width: 100%;
  }
}

.btn {
  border: none;
  outline: none;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 18px;
  cursor: pointer;
  font-family: "lato regular", Helvetica, Arial, sans-serif;
  border-radius: 1px;
}

.btn-primary {
  color: white;
  background-color: #000;
  font-size: 14px;
  transition: background-color 0.2s;
}

.btn-primary:hover {
  background-color: #606060;
}

section.end {
  width: 95%;
  margin: 1rem auto;
  display: flex;
}
@media screen and (max-width: 1200px) {
  section.end {
    width: 90%;
  }
}
section.end > div {
  width: 50%;
}
section.end > .left img {
  width: 100px;
  margin-bottom: 1rem;
}
section.end > .right h4 {
  margin-bottom: 1rem;
}
